/* style.css - not part of distribution, only for test support */

html {
  font-family: "Roboto", sans-serif;
}

h2, h3 {
  border-bottom: solid 1px black;
  padding-bottom: 10px;
}

.sample {
  padding: 10px;
}

.sample div {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
}